<div class="block card-next">
    <input type="hidden" class="card-id" value="{{ id }}">
    <div class="block-title">
        <h1>{{ title }} </h1>
    </div>
    <div>
        <p>
            @<a href="{{ path('user_show', {'username' : user}) }}" class="block block-dropdown"> {{ user }}</a>
        </p>
    </div>
    <div class="block-content">
        <div class="block-{{ type }}">
            {{ media|raw }}
        </div>
    </div>
    <div class="block-answer hidden">
        {{ content }}
    </div>
    <div class="block-options">
        <button class="block-button dismiss">Pas intéressant</button>
        <button class="block-button switch hidden"><i class="fas fa-exchange-alt"></i></button>
        <button class="block-button ok hidden">Fermer</button>
        <button class="block-button like">J'aime !<i class="far fa-heart"></i></button>
    </div>
</div>