{% extends 'base.html.twig' %}

{% block title %}Pitchee - {{ card_list.name }}{% endblock %}

{% block body %}
<div id="loader"></div>
<div class="container">
    <div class="header">
        <div class="header-title" style="margin-left: 0">
            <div class="title-sm">{{ app.user.getFirstName() }},</div>
            <div class="title-lg">Ta liste <span class="text-primary">{{ card_list.name }}</span></div>
        </div>
        <div class="header-options">
            <div class="header-button">
                <a href="{{ path('card_list_edit', {'id': card_list.id}) }}">Modifier</a>
            </div>
            <div class="header-button2">
                <a>{{ include('card_list/_delete_form.html.twig') }}</a>
            </div>
        </div>
    </div>

    {# Breadcrumb des parents #}

    {% if card_list.parent is not null %}
        <div class="text-muted">
            {% for parent in parents %}
                <a href="{{ path("card_list_show", {'id': parent.id}) }}">{{ parent.name }}</a> <i class="fas fa-chevron-right"></i>
            {% endfor %}
            {{ card_list.name }}
        </div>
    {% else %}
        <a class="back-btn" href="{{ path('my_lists', {'username': app.user.getPseudo()}) }}"><i class="fas fa-arrow-left"></i> Retour</a>
    {% endif %}

    <div class="block" style="margin-bottom: 0;">
        <h1 class="block-title" style="margin-top: 0">Description</h1>
        <div class="block-content">{{ card_list.description }}</div>
    </div>

    {# Si la liste a des cards #}
    {% if(card_list.cards is not null) %}
        <div class="grid">
            {% for card in card_list.cards %}
                <div class="grid-item">
                    <div class="block">
                        <div class="block-title">
                            <h1>{{ card.title }}</h1>
                            <a href="{{ path('card_edit', {'id': card.id}) }}" class="edit-card"><i class="block-icon fas fa-pen"></i></a>
                            <a href="{{ path('card_delete', {'id': card.id}) }}" class="edit-card"><i class=" fas fa-trash-alt"></i></a>
                        </div>
                        <div class="block-content">
                            <div class="block-image">
                                {% if card.type == "video" or card.type == "musique" %}
                                    <div class="video-responsive">
                                        <iframe src="https://www.youtube.com/embed/{{ card.content[card.content|length-11:card.content|length] }}"  allow="fullscreen;"></iframe>
                                    </div>
                                {% else %}
                                    <img src="{{ card.content }}" alt="{{ card.title }}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div>Pas de cards. <a href="{{ path('card_new') }}">Tu veux en créer une ?</a></div>
    {% endif %}

    {% if card_list.children is not empty %}
        <div class="block block-list" style="margin-top: 0">
            <h1 class="block-title" style="margin: 0">Sous-listes</h1>
            <div class="block-content">
                {# Si la liste a des listes enfants #}
                {% if card_list.children is not empty %}
                    <div class="block-children">
                        {% for child in card_list.children %}
                            <a class="block-child" href="{{ path('card_list_show', {'id': child.id}) }}">
                                <div class="block-child-title">{{ child.name }}</div>
                                <div class="block-child-content">
                                    <p>{{ child.description }}</p>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            setTimeout(function(){
                $('#loader').fadeOut(800);
            }, 1000);
        });
    </script>
    <script>
        $('.grid').masonry({
            // set itemSelector so .grid-sizer is not used in layout
            itemSelector: '.grid-item',
            // use element for option
            percentPosition: true,
            gutter: 10
        })
    </script>
{% endblock %}
