{% extends 'base.html.twig' %}

{% block title %}Pitchee - Nouvelle card{% endblock %}

{% block body %}
    <div class="container">
        <div class="header">
            <div class="profile-picture">
                {% if app.user.getImageFilename() != null %}
                    <img src="{{ asset('uploads/' ~ app.user.getImageFilename()) }}" alt="profile-picture">
                {% else %}
                    <img src="{{ asset('images/user/default-user-image.png') }}" alt="profile-picture">
                {% endif %}
            </div>
            <div class="header-title">
                <div class="title-sm">Hey {{ app.user.getFirstName() }},</div>
                <div class="title-lg">Partage tes idées !</div>
            </div>
        </div>
        <a class="back-btn" href="{{ app.request.headers.get('referer') }}"><i class="fas fa-arrow-left"></i> Retour</a>
        <div class="block">
            <div class="block-title">
                <h1>Créer une card.</h1>
            </div>
            <div class="block-subtitle">Et partage ton inspiration.</div>
            {{ include('card/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
