{% extends 'base.html.twig' %}

{% block title %}Pitchee - {{ card.title }}{% endblock %}

{% block body %}
<div id="loader"></div>
<div class="container">
    <div class="header">
        <div class="header-title" style="margin-left: 0">
            <div class="title-sm">{{ app.user.getFirstName() }},</div>
            <div class="title-lg text-primary">{{ card.title }}</div>
        </div>
        <div class="header-options">
            {% if is_granted('edit', card) %}
                <div class="header-button">
                    <a href="{{ path('card_edit', {'id': card.id}) }}">Modifier</a>
                </div>
            {% endif %}
            {% if is_granted('delete', card) %}
                <div class="header-button2">
                    <a>{{ include('card/_delete_form.html.twig') }}</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="block card">
        <div class="block-title">
            <h1>{{ card.title }}</h1>
        </div>
        <div class="block-content card-show">
            <div class="block-image">
                {% if card.type == "video" or card.type == "musique" %}
                    <div class="video-responsive">
                        <iframe src="https://www.youtube.com/embed/{{ card.content[card.content|length-11:card.content|length] }}"  allow="fullscreen;"></iframe>
                    </div>
                {% else %}
                    <img src="{{ card.content }}" alt="{{ card.title }}">
                {% endif %}
            </div>
            <div class="block-answer">
                <div class="block-answer-title">
                    Description
                </div>
                <div class="block-answer-content">
                    {{ card.answer }}
                </div>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="block-title">
            <h1>Commentaires</h1>
            <a class="show-card block-icon"><i class="fas fa-comment-medical"></i></a>
        </div>
        <div class="add-comment">
            <div class="add-comment-user">
                <div class="add-comment-user-picture">
                    {% if app.user.getImageFilename() != null %}
                        <img src="{{ asset('uploads/' ~ app.user.getImageFilename()) }}" alt="profile-picture">
                    {% else %}
                        <img src="{{ asset('images/user/default-user-image.png') }}" alt="profile-picture">
                    {% endif %}
                </div>
            </div>
            {% for message in app.flashes('add_comment_success') %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endfor %}
            
            {% include('comment/_form.html.twig') %}

        </div>
        <div class="block-content card-show">
            {% if card.comments is not empty %}
                {% for comment in card.comments %}
                    <div class="comment-container">
                        <div class="comment-user">
                            <div class="comment-picture">
                                {% if comment.user.imageFilename != null %}
                                    <img src="{{ asset('uploads/' ~ comment.user.imageFilename) }}" alt="profile-picture">
                                {% else %}
                                    <img src="{{ asset('images/user/default-user-image.png') }}" alt="profile-picture">
                                {% endif %}
                            </div>
                        </div>
                        <div class="comment">
                            <div class="comment-title">
                                {{ comment.title }}
                            </div>
                            <div class="comment-content">
                                {{ comment.content }}
                            </div>
                        </div>
                        <span class="comment-username">{{ comment.user }}</span>
                        <span class="comment-date">{{ comment.createdAt|date("d/m/y - H:i") }}</span>
                    </div>
                {% endfor %}
            {% else %}
                Pas de commentaires :(
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            setTimeout(function(){
                $('#loader').fadeOut(800);
            }, 1000);
        });
    </script>
{% endblock %}
