{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="container">
    <div class="header">
        <div class="profile-picture">
            {% if user.imageFilename != null %}
                <img src="{{ asset('uploads/' ~ user.imageFilename) }}" alt="profile-picture">
            {% else %}
                <img src="{{ asset('images/user/default-user-image.png') }}" alt="profile-picture">
            {% endif %}
        </div>
        <div class="header-title">
            <div class="title-sm">{{ user.firstName }} {{ user.lastName }}</div>
            <div class="title-lg text-primary">@{{ user }}</div>
        </div>
    </div>
    {% if(user.cards is not null) %}
        <div class="grid">
            {% for card in user.cards %}
                <div class="grid-item">
                    <div class="block">
                        <div class="block-title">
                            <h1>{{ card.title }}</h1>
                        </div>
                        <div class="block-content">
                            <div class="block-image">
                                {% if card.type == "video" or card.type == "musique" %}
                                    <div class="video-responsive">
                                        <iframe src="https://www.youtube.com/embed/{{ card.content[card.content|length-11:card.content|length] }}"  allow="fullscreen;"></iframe>
                                    </div>
                                {% else %}
                                    <img src="{{ card.content }}" alt="{{ card.title }}">
                                {% endif %}
                            </div>
                            <p>
                                {{ card.answer }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
